@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nameHeader {
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  color: #39603d;
  text-decoration: none;
  font-size: large;
  font-weight: normal;
}

.nav_links a, .overlay__content a {
  font-family: "Roboto Mono";
  font-weight: 500;
  color: #39603d;
  text-decoration: none;
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links li {
  padding: 0px 20px;
}

.nav_links li a {
  transition: color 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #3c403d;
}

.welcomeText {
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  color: #39603d;
}

#background {
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/*Contact Form*/
.get_in_touch {
  max-width: 800px;
  margin: 50px auto;
  position: 
  padding 30px;
}

.get_in_touch .title {
  font-family: "Roboto Mono";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #39603d;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
  background: transparent;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #39603d;
  font-family: "Roboto Mono";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background: transparent;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text .not-empty + .label,
.contact-form .input-text:valid + .label {
  transform: translateY(-24px);
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: "Roboto Mono";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #39603d;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
  background: transparent;
}

.contact-form .submit {
  font-family: "Roboto Mono";
  display: inline-block;
  background-color: #39603d;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.contact-form .submit:hover {
  background-color: #3c403d;
}